{% extends 'base.html' %}
{% load static %}
{% block title %}About Me - Tchie Aude Sorelle Software Engineer {% endblock title %}

{% block content %}
<body>
    <section class="about-me">
        <div class="profile-container">
            <div class="text-block">
                <h2>About Me</h2>
                <p>Currently working on something majestic that will be eye soothing and worth your attention. 
                    In the mean time checkout my skill sets, and i hope they align with what you are looking for.</p>
            </div>
        </div>
    </section>
    <div class = "row">
        <div class="column">
                <div class="skill-card">
                    <h3>Technical Skills:</h3>
                        <P>Python (Intermediate)</P>
                        <P>Java (Intermediate)</P>
                        <P>Django (Intermediate)</P>
                        <p>MySQL (Intermediate)</p>
                        <P>Bootstrap (Intermediate)</P>
                        <P>Panda (Novice)</P>
                        <P>Numpy (Novice)</P>
                        <P>MATPLOTLIB (Novice)</P>
                </div>
        </div>

        <div class = "column">
            <div class="skill-card">
                <h3>Soft Skills:</h3>
                    <P>Problem-solving (Strong)</P>
                    <P>Communication (Strong)</P>
                    <P>Time management (Strong)</P>
                    <P>Teamwork (Strong)</P>
                    <P>Leadership (strong)</P>
            </div>
        </div>

        <div class = "column">
            <div class="skill-card">
                    <h3>Languages:</h3>
                        <p>English (Native)</p>
                        <p>French (Fluent)</p>
            </div>
        </div>
    </div>



</body>

{% endblock %}