{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Tchie Aude Sorelle - Python Software Engineer. Explore my projects, skills, and professional journey. Available for hire.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}Tchie Aude Sorelle - Portfolio{% endblock title %}</title>
    {% bootstrap_messages %}
</head>

<body>

<header>
    <nav class="navbar navrbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand">
                <span style="font-size:20px; font-family: cursive;">TCHIE AUDE SORELLE</span>
                <h6 style="font-family:cursive">Python Software Engineer</h6>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            

            <div class="collapse navbar-collapse justfiy-content-end" id="navbarResponsive">
            <ul class = "navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}" > HIRE ME </a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'aboutme' %}">About Me</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                </li>
            </ul>
        </div>
    </div>    
</nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2024 Tchie Aude Sorelle. All rights reserved.</p>
</footer>
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Tchie Aude Sorelle",
      "jobTitle": "Python Software Engineer",
      "url": "https://sorelletchie-portfolio-f17139941b8f.herokuapp.com/",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Douala",
        "addressCountry": "Cameroon"
      },
      "email": "sorelletchie@gmail.com",
      "telephone": "+237692241518"
    }
    </script>
    
</body>
</html>