{% extends 'base.html' %}
{% load static %}
{% block title %}Contact- Tchie Aude Sorelle{% endblock title %}

{% block content %}
<main style="font-family: cursive; text-align: center; margin: 0 15%;">
    <h2>THANK YOU!</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    <!--<hr style="height:5px;">
    <section class="contact-info">
        <h3> CONTACT</h3>
        <address>
            <p> Phone Number: <a href="tel:+692241518">6 92 24 15 18</a></p>
            <p> WhatsApp: <a href="https://wa.me/237692241518">+237 6 92 24 15 18</a></p>
            <p>Email: <a href="mailto:sorelletchie@gmail.com">sorelletchie@gmail.com</a></p>
        </address>
    </section>-->
</main>
{% endblock %}
 