{% extends 'base.html' %}
{% load static %}

{% block content %}

<header style="text-align:center">
    <h5><b> TCHIE AUDE SORELLE </b></h5>
    <h6>Douala, Cameroon</h6>
    <h6>(+237) 6 92 24 15 18</h6>
    <h6>sorelletchie@gmail.com</h6>
    <h6>https://github.com/SorelleTchie</h6>
    <h6>https://www.linkedin.com/in/aude-sorelle-tchie-85a88a29/</h6>
</header>
<hr>
<header style="text-align:left; margin-left:15%; margin-right:10%;">
    <h5><strong>ACADEMIC CREDENTIALS</strong></h5>
    <hr style="width:90%;height:5px;">
    <h6><strong>Bachelors of Science in Biology</strong></h6>
    <h6><em>Barry University, Miami Shores, Florida <span style="padding-left: 500px;">August 2015 </span></em></h6>

    <h5><strong>IT EXPERIENCE</strong></h5>
    <hr style="width:90%;height:5px;">
    <h6><strong>IT Support Technician</strong></h6>
    <h6><em>Telecom Service Provider, Yaounde, Cameroon <span style="padding-left: 450px;"> January 2022-present </span></em></h6>
    <ul>
        <li>Install, repair, and configure software and hardware on Windows Operating System</li>
        <li>Onboarding of new hires, and off boarding</li>
        <li>Plan and execute maintenance upgrades</li>
        <li>Maintain computer systems and networks</li>
    </ul>

    <h5><strong>TEACHING EXPEREINCE</strong></h5>
    <hr style="width:90%;height:5px;">
    <h6><strong>Virtual Elementary French Teacher</strong></h6>
    <h6><em>ILY inc New York, New York, USA <span style="padding-left: 550px;">June 2021-October 2021</span></em></h6>
    <ul>
        <li>Developed and implemented a comprehensive French curriculum suitable for middle school students.</li>
        <li>Conducted live online classes via Zoom, teaching French language concepts including vocabulary, grammar, and pronunciation.</li>
        <li>Monitored, evaluated, and documented student progress through assessments and homework assignments</li>
        <li>Created an engaging and interactive digital learning environment, utilizing multimedia tools and resources</li>
        <li>Adapted lessons to cater to different learning styles and capabilities of students</li>
        <li>Provided feedback and grades to students in a timely manner</li>
    </ul>

    <h6><strong>Volunteer Assistant Teacher for Catholic Faith Formation</strong></h6>
    <h6><em>The Church of Saint Paul The Apostle, New York, New York, USA <span style="padding-left: 340px;">June 2019-April 2020</span></em></h6>
    <ul>
        <li>Conducted weekly lessons for students in preparation for the sacaments of Holy Communion, and Confirmation</li>
        <li>Assisted the lead teacher in developing curriculum and lesson plans</li>
        <li>Provided guidance and support to students during the learning process</li>
        <li>Facilitated discussions and activities to enhance students understanding of the sacraments</li>
        <li>Collaborated with other volunteers and teachers to create a positive and engaging learning environment</li>
        <li>Fostered a respectful and inclusive classroom atmosphere, promoting the values of the Catholic faith</li>
    </ul>

    <h6><strong>After-school Teacher</strong></h6>
    <h6><em>IC Tutoring, Brooklyn, New York, USA <span style="padding-left: 500px;">October 2017-September 2018</span></em></h6>
    <ul>
        <li>Designed and implemented engaging after-school educational programs in Math,<br> Science, and English for students in grades 3 through 6. </li>
        <li>Tailored lesson plans to cater to the varying academic levels and learning styles<br> within the student population, helping each student to reach their full potential</li>
        <li>Provided individualized instruction and extra support for students struggling with <br>particular topics, improving their performance and confidence</li>
        <li>Assesses students' progress regularly through quizzes, tests, and one-on-one evaluations,<br> adjusting strategies as needed</li>
        <li>Promoted literacy and a love for reading by incorporating diverse reading materials<br> in English lessons</li>
        <li>Created a positive, inclusive, and stimulating learning environment to enhance students'<br> engagement and participation</li>
        <li>Fostered relationships with parents and provided regular feedback on their child's progress<br> and areas for improvement</li>
    </ul>
    
    <h5><strong>OTHER JOBS</strong></h5>
    <hr style="width:90%;height:5px;">
    <h6><strong> Private Household Assitant</strong></h6>
    <h6><em>New York, New York <span style="padding-left: 590px;">September 2018 - October 2021</span></em></h6>
    <ul>
        <li>Managing and maintaining household calendars and schedules, includingschool activities. appointments, and personal engagements.</li>
        <li>Performing light housekeeping duties to maintain a clean, organized, and pleasant living environment.</li>
        <li>Preparing healthy meals for family. taking into consideration dietary preferences and restrictions</li>
        <li>Organizing, planning, and supervising children's activities, including outings, playdates, and homework sessions.</li>
        <li>Providing compassionate care and supervision for two family dogs, including feeding, walking, grooming, and coordinating veterinary visits</li>
        <li>Providing personal assistance to family memebers as needed, including personal shopping, running errands, and arranging appointments</li>
    </ul>
    
    <h5><strong>RESEARCH EXPERIENCE</strong></h5>
    <hr style="width:90%;height:5px;">
    <h6><strong>Research Fellow</strong></h6>
    <h6><em>The Do School, Brooklyn, New York <span style="padding-left: 550px;">June 2017</span></em></h6>
    <ul>
        <li>Collaborated with a team of 15 students in a research project aimed at reducing carbon emissions and curbing signle-occupant vehicles within the Brooklyn Navy Yard area.</li>
        <li>Conducted research in a 3 weeks sprint using Agile Methodologies to stay organized and maintain productivity</li>
        <li>Participated in brainstorming and strategy sessions, contributing innovative ideas and solutions to optimize the ride-sharing program</li>
        <li>Assisted in drafting and presenting a detailed proposal of the ride-sharing program to key stakeholders and community leaders.</li>
    </ul>
    </span>

    <h5><strong>CERTIFICATES</strong></h5>
    <hr style="width:90%;height:5px;">
    <h6><strong>Google IT Automation with Python Professional Cerificate</strong></h6>
    <h6><em>Coursera<span style="padding-left: 740px;">August 2021</span></em></h6>
    <ul>
        <li>Gained familiarity with configuration management, and cloud computing, with hands on experience using Puppet and Google Cloud Platform</li>
        <li>learned to create Bash scripts for automating taks in Linux environments, furthering my understanding of shell scripting.</li>
        <li>Gained proficiency in Python programming and Django web framework</li>
        <li>Learned to write tests for code to ensure its proper behaviour, thus imroving reliability and maintainability of scripts and software</li>
    </ul>
    
    <h6><strong>Google IT Support</strong></h6>
    <h6><em>Coursera <span style="padding-left: 740px;">September 2020</span></em></h6>
    <ul>
        <li>Acquired a comprehensive understanding of how computer hardware and software operate and interact, including troubleshooting techniques for common issues</li>
        <li>Gained familiarity with popular operating systems, such as Windows and Linus, along with how to install configure, and maintain them</li>
        <li>Developed knowledge of computer networks, including understanding of protocols, network architecture and troubleshooting network</li>
        <li> Gaine proficiency in using the command-line interface to manage systems. automate tasks, and troubleshoot issues</li>
        <li>Learned best practices for providing high-quality customer service in an IT context, including communication skills, empathy, and problem-solving</li>
        <li>Learned to apply problem-solving methodologies to diagnose and resolve a wide range of IT issues, whether hardware, software, or network related</li>
    </ul>
    
    <h5><strong>LANGUAGES</strong></h5>
    <hr style="width:90%;height:5px;">
    <ul>
        <li>Fluent in both English and French, with proficiency in reading, writing, speaking, and comprehension in both languages.</li>
    </ul>
    <h5><strong>SKILLS</strong></h5>
    <hr style="width:90%;height:5px;">
    <ul>
        <li><b>Proficiency:</b>Python, Django, Bash scripting, Git, GitHub, Puppet, Google Cloud Platform, Unix/Linux system administration, command-line interface, Windows, IT automation principles, IT change management principles, troubleshooting and debugging techniques, html,css</li>
        <li><b>Experience:</b>Creating applications with Python and Django, storing and retrieving data in databases, managing and configuring computers and software, installing and configuring operating systems, implementing IT changes in a controlled and coordinated manner.</li>
        <li><b>Knowledge:</b> Computer hardware and software interaction, popular operating systems (including Windows and Linux), protocols, network architecture, user management, process monitoring, IT security measures.</li>
        <li><b>Achievements:</b>Successfully developed an employee information app and a portfolio web app using html, css Python and Django, completed Google IT Support and IT Automation with Python certificates.</li>
        </ul>

    <h5><strong>VOLUNTEER ACTIVITIES</strong></h5>
    <hr style="width:90%;height:5px;">
    <h6><strong>Serving Food</strong></h6>
    <h6><em>The Relief Bus</em></h6>
    <ul>
        <li>Assisted with the distribution of meals to homeless individuals and others in need throughout New York City.</li>
        <li>Provided compassionate and respectful service to all individuals, fostering a positive and inclusive environment.</li>
        <li>Distributed information about available social services in New York City, helping connect individuals with additional resources and support.</li>
        <li>Upheld all food safety guidelines and protocols to ensure the quality and safety of meals distributed.</li>
    </ul>
    
    <h6><strong>Food Packaging</strong></h6>
    <h6><em>Feeding South Florida</em></h6>
    <ul>
        <li>Participated in multiple volunteer sessions, demonstrating a consistent commitment to community service and the mission of Feeding South Florida.</li>
        <li>Efficiently packed and organized food items for distribution, ensuring the timely provision of meals for those in need.</li>
        <li>Collaborated effectively with other volunteers to meet or exceed packing goals for each session.</li>
        <li>Adhered to all food safety guidelines and protocols to ensure the quality and safety of food items being prepared for distribution.</li>
        <li>Contributed to the positive and respectful volunteer environment by supporting other volunteers and coordinators.</li>
    </ul>
    <h6><strong>Technical Assistant</strong></h6>
    <h6><em>Black Girls Code</em></h6>
    <ul>
        <li>Actively supported the organization's mission to increase opportunities for women of color in technology by providing technical assistance during various events and programs.</li>
        <li>Provided mentorship and hands-on assistance to participants learning coding and other technical skills, reinforcing my own technical knowledge and contributing to their development.</li>
        <li>Collaborated with a diverse team of other volunteers, coordinators, and instructors to facilitate smooth running of events and ensure a positive learning environment.</li>
        <li>Assisted in the preparation and facilitation of workshops and coding boot camps, including set-up, participant support, and troubleshooting technical issues.</li>
        <li>Demonstrated strong communication and interpersonal skills by effectively assisting participants of various age groups and technical backgrounds.</li>
    </ul>

    <h5><strong>EXTRACURRICULAR ACTIVITIES</strong></h5>
    <hr style="width:90%;height:5px;">
    <h6><strong>Barry University Rowing Team</strong></h6>
    <ul>
        <li>Actively participated as a team member in the school's rowing team, demonstrating teamwork, discipline, and commitment to physical fitness.</li>
        <li>Contributed to the team's successful win in the 2015 Division 2 NCAA Rowing Championship, demonstrating high performance under pressure.</li>
        <li>Regularly attended and excelled in rigorous training sessions, showcasing dedication and resilience.</li>
        <li>Balanced athletic commitments with academic responsibilities, highlighting time management and prioritization skills.</li>
    </ul>
    <h6><strong>Barry University Catholic Faith Association</strong></h6>
    <ul>
        <li>Participated in strategic decision-making as an active member of the board, contributing to the overall direction of the association.</li>
        <li>Collaborated with other board members to plan, organize, and execute successful fundraising events for various charitable causes.</li>
        <li>Contributed to the successful raising of funds for charity, leading to tangible improvements in the community and support for the chosen charities.</li>
        <li>Assisted in promoting the association's activities, raising awareness and engaging students, staff, and the wider community.</li>
        <li>Developed and implemented strategies for increasing association membership and participation in fundraising activities.</li>
    </ul>


</header>

{% endblock %}