{% extends 'base.html' %}
{% load static %}
{% block title %}Landing- Tchie Aude Sorelle Software Engineer Available for Hire{% endblock title %}

{% block content %}
<main style="margin: 0 15%; font-family: cursive; text-align: center;">
        <h1>Welcome To My Portfolio!</h1>
        <hr style="height:5px;">
        <h2> I love analyzing data to solve complex issues</h2>
        <img src="{% static 'portfolio/my_picture.jpg' %}" alt="My professional portrait" class="rounded-image">
</main>
  
{% endblock %}