{% extends 'base.html' %}
{% load static %}
{% block title %}Landing- Tchie Aude Sorelle Software Engineer Available for Hire{% endblock title %}

{% block content %}
<main style="margin: 0 15%; font-family: cursive; text-align: center;">
        <h1>Welcome To My Portfolio!</h1>
        <hr style="height:5px;">
        <h2> IT'S NICE TO MEET YOU</h2>
        <div class = "box">
                <a href="{% static 'portfolio/Software_Engineering_resume.pdf' %}" class="button">Download my Resume</a>
        </div>
</main>
  
{% endblock %}