{% extends 'base.html' %}
{% load static %}
{% block title %}Projects - Tchie Aude Sorelle  Software Engineer{% endblock title %}

{% block content %}
<section class="projects">
    <article class="project">
        <h2>Employee Information Managing System</h2>
        <video width="320" height="240" controls>
            <source src="/static/portfolio/Employee Management Application.mp4 " type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="project-description">
            <p><strong>Description:</strong> A robust web application designed and developed to streamline the process of managing employee information. It serves as a central hub for storing, retrieving, and updating employee details, reducing manual effort and enhancing operational efficiency.</p>
            <p><strong>Tech Stack:</strong></p>
            <ul>
                <li>Python</li>
                <li>Django</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap 5</li>
                <li>SQLite</li>
            </ul>
        </div>
    </article>
</section>
{% endblock %}
